/backend/modules/__pycache__
.env
backend/modules/data/upload-data/*
backend/modules/data/flashcard-data/*
backend/modules/data/rawgpt-data/*
backend/modules/data/youtubeparsed-data/*
backend/modules/data/youtuberaw-data/*
feature/New-youtube
feature/Pdf-Update
.gitignore
ProjectReport.pdf