#Data files
server/modules/data/upload-data/*
server/modules/data/flashcard-data/*
server/modules/data/rawgpt-data/*
server/modules/data/youtubeparsed-data/*
server/modules/data/youtuberaw-data/*
server/modules/data/wikiraw-data/*

#pycache
/server/modules/__pycache__
/server/modules/generators/__pycache__
/server/modules/parsers/__pycache__
/server/modules/repositories/__pycache__
/server/modules/endpoint_helpers/__pycache__
/server/modules/datamappers/__pycache__

#Others
.env
venv

#Client 
/client/.next/
/client/node_modules
/client/.env.local
