/backend/modules/__pycache__
.env
server/modules/data/upload-data/*
server/modules/data/flashcard-data/*
server/modules/data/rawgpt-data/*
server/modules/data/youtubeparsed-data/*
WebPage
server/modules/data/youtuberaw-data/*
server/modules/data/wikiraw-data/*
feature/New-youtube
feature/Pdf-Update
.gitignore
ProjectReport.pdf
WebPage
SDI_Final_Presentation.pptx
